<div id="main" class="main-full">
    <div class="row">
        <div class="col s12">
            <div class="container">
                <div class="row">
                    <div class="col s12">
                        <div id="icon-prefixes" class="card card-tabs">
                            <div class="card-content">
                                <div class="card-title">
                                    <div class="row">
                                        <div class="col s12 m6 l10">
                                            <h4 class="card-title">Adicionar uma venda</h4>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    @using (Html.BeginForm("Create", "Vendas", FormMethod.Post))
                                    {
                                        <!--Entrada-->
                                        <div class="row">
                                            <div class="input-field col s12 m4">
                                                <textarea id="descricao" class="materialize-textarea" name="Entrada.Descricao"></textarea>
                                                <label for="descricao">Descrição</label>
                                            </div>
                                            <div class="input-field col s12 m4">
                                                <input id="valor" type="text" class="validate" name="Entrada.Valor">
                                                <label for="valor">Valor</label>
                                            </div>
                                            <div class="input-field col s12 m4">
                                                <input id="data" name="Entrada.Data" type="text" class="datepicker" placeholder="Data">
                                            </div>
                                        </div>
                                        <div class="divider mt-2"></div>
                                        <div class="row mb-2">
                                            <div class="input-field col s12 m6 mt-2">
                                                <p>
                                                    <label>
                                                        <input id="cadastrarCliente" type="checkbox" name="cadastrarCliente" value="true" />
                                                        <span>Cadastrar Cliente</span>
                                                    </label>
                                                </p>
                                            </div>

                                            <div class="input-field col s12 m6">
                                                <i class="material-icons prefix">textsms</i>
                                                <input type="text" id="autocomplete-input" class="autocomplete" name="autocomplete-cliente">
                                                <input type="text" id="autocomplete-input-fake" class="autocomplete hide" name="autocomplete-cliente">
                                                <label for="autocomplete-input">Selecionar Cliente</label>
                                            </div>
                                        </div>
                                        <!--Cliente-->
                                        <div class="row">
                                            <input type="hidden" name="Cliente.Id" id="idCliente"/>
                                            <div class="input-field col s12 m4">
                                                <input id="nome" type="text" class="validate" name="Cliente.Nome">
                                                <label for="nome" class="nome">Nome</label>
                                            </div>
                                            <div class="input-field col s12 m4">
                                                <input id="contato" type="text" class="validate" name="Cliente.Contato">
                                                <label for="contato" class="contato">Telefone</label>
                                            </div>
                                            <div class="input-field col s12 m4">
                                                <textarea id="endereco" class="materialize-textarea" name="Cliente.Endereco"></textarea>
                                                <label for="endereco" class="endereco">Endereço</label>
                                            </div>
                                        </div>
                                        <div class="row">
                                            <div class="col right">
                                                <button type="submit" class="waves-effect waves-light btn">Cadastrar</button>
                                            </div>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    var clients = @Html.Raw(Json.Encode(ViewBag.Clientes)) ;
</script>

<!-- END: Footer-->
<!-- BEGIN VENDOR JS-->
<script src="~/Materialize/app-assets/js/vendors.min.js"></script>
<!-- BEGIN VENDOR JS-->
<!-- BEGIN PAGE VENDOR JS-->
<!-- END PAGE VENDOR JS-->
<!-- BEGIN THEME  JS-->
<script src="~/Materialize/app-assets/js/plugins.min.js"></script>
<script src="~/Materialize/app-assets/js/search.min.js"></script>
<script src="~/Materialize/app-assets/js/custom/custom-script.min.js"></script>
<!-- END THEME  JS-->
<!-- BEGIN PAGE LEVEL JS-->
<script src="~/Scripts/Js/Venda.js"></script>
<!-- END PAGE LEVEL JS-->
<script src="~/Scripts/jQuery-Mask-Plugin-master/src/jquery.mask.js"></script>


